.gather-container {
    width: 100%;
    position: absolute;
    //   left: 12px;
    top: 93px;
    overflow: auto;
    height: 100%
}

.ion-margin-bottom {
    --ion-margin: 50px;
}

.eventContainer {
    justify-content: center;
    top: 153px;
    margin-top: 35px;
    text-align: center;
    overflow: auto;
    height: 80vh;
}

@media (min-height: 668px) {
    .gather-container {
        height: 73vh;

    }
}

@media (max-height: 667px) {
    .gather-container {
        height: 70vh;
    }
}