.suggestion {
    position: absolute;
    width: 80vw;
    height: 40px;
    top: 40px;
    margin-left: 10vw;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    justify-content: center;

    .future-site-visit,
    .future-gathering {
        width: 7rem;
        height: 35px;
        text-align: center;
        margin: 0 5px 0 5px;
    }

    .active {
        border-bottom: 2px solid #e96443;
        font-weight: bold;
        color: #232323;
    }

    .non-active {
        border-bottom: none;
        font-weight: 100;
        color: #c4c4c4;

    }
}

.future-detail {
    position: absolute;
    justify-content: center;
    top: 70px;
    // left: 29px;
    text-align: center;
    overflow: auto;
    height: 80vh;

}

.future-activities {
    // position: absolute;
    justify-content: center;
    top: 70px;
    //   left:29px;
    margin-top: 65px;
    text-align: center;
    overflow: auto;
    height: 80vh;
}