.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    width:80vw;
    
    .form-group {
        width: 100%;
        height: 3.5rem;
        // margin: 0.5rem 0;
        input {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 24px;
            color: #c4c4c4;
            border-bottom: #c4c4c4 solid 2px;
        }
    }
    button {
        border: none;
        background-color: #c4c4c4;
        border-radius: 1.5rem;
        font-size: 18px;
        color: #ffffff;
        // color: black;
        width: 90px;
        height: 45px;
        margin-top: 3rem;
        margin-left: 60vw;
        &:hover,
        &:active{
            background-color: #F1935C;
        }
    }
}
.login-icon{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin-left: 25vw;
    width: 50vw;
    height: 5rem;
    bottom: 3rem;
   
}
