.roommate-container {
    position: absolute;
    width: 84vw;
    left: 8vw;
    top: 80px;
    overflow: auto;
    .roommate-card{
      top: 190px;
    }
  }
  @media (min-height: 668px) {
      .roommate-container {
        height: 83vh;
        
      }
    }
    @media (max-height: 667px) {
      .roommate-container {
        height: 80vh;
      }
    }