#rentDuration {
  ion-item {
    .item-native {
      .item-inner {
        .input-wrapper {
          display: flex;
          flex: 1 1 0%;
          flex-direction: column;
          align-items: inherit;
          align-self: stretch;
          text-overflow: ellipsis;
          overflow: inherit;
          box-sizing: border-box;
        }
      }
    }
  }
}

ion-input[name="rentDuration"] {
  
}

.stepper {
  width: 25vw;
  height: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 37.5vw;
  margin-top: 2rem;
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #c4c4c4;
  }
  .circle-active {
    background: #e96443;
  }
}
