.flatPic {
    top: 40px;
    width: 100vw;
    height: 240px;
    position: fixed;
    // box-shadow: 0px 20px 31px rgba(0, 0, 0, 0.3);
}

.siteMeetingDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64.39px;
    height: 70.44px;
    background: #000000;
    box-shadow: 8px 11px 20px rgba(0, 0, 0, 0.35);
    border-radius: 7px;
    bottom: 10px;
    right: 10px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #E2E2E2;

}

.siteOwnerDiv {
    position: absolute;
    bottom: 15px;
    right: 73px;
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 15px
}

.siteImageMapDiv {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 25px;
    width: 25px;
    padding-top: 3px;
    border-radius: 18px;
    background: #FFF0D8;
    color: #cb5410;
    text-align: center;
}

.siteImageNavDiv {
    position: absolute;
    justify-content: space-around;
    display: flex;
    bottom: 12px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 7px;

    .active {
        background: gray;
    }
}

.siteImageNav {
    width: 18px;
    height: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.siteNavBar {
    position: fixed;
    top: 280px;
    width: 100vw;
    height: 60px;
    background: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: #C4C4C4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    .nav {
        height: 30px;
    }

    .active {
        color: #232323;
        border-bottom: 2px solid #e96443;
        font-weight: bold;
    }
}

// .siteDetailLowerContainer {   ????????????????
//     position: fixed;
//     top: -40px;
//     width: 100vw;
//     text-align: center;
// }