.sitePage-container {
  position: absolute;
  left: 8vw;
  width: 84vw;
  top: 5rem;
  overflow: auto;
  .site-card{
    top: 153px;
  }
}
@media (min-height: 668px) {
    .site-container {
      height: 78vh;
      
    }
  }
  @media (max-height: 667px) {
    .site-container {
      height: 80vh;
    }
  }