// .hearderBar {
//   display: flex;
//     flex-direction: row;
//     // position: absolute;
//     // left: 0px;
//     // top: 20px;

// }

.logo-container {
    display: flex;
    align-items: flex-end;
    margin: 1rem 0 0 1rem;

    .roomie_rainbow {
        display: flex;
        align-items: flex-end;
        background: -webkit-linear-gradient(139.1deg, #e96443 23.21%, #904e95 73.32%);
        height: 3rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #e96443;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-left: 0.5rem;
       
    }
}
.signInUp {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 3rem;
    margin: 0;
    .s-text {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #e96443;
        line-height: 28px;
        margin-right: 5vw;
    }
}
