.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    background: linear-gradient(74.13deg, #904E95 14.64%, #E96443 100.36%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-height: 667px){
    .navbar{
        bottom: -1%;
    }
}

  
@media(max-height:666px){
    .navbar{
        bottom: -1%;
    }
}