.roommate-filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  .line{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    // border: 1px solid black;
    justify-content: space-between;
    align-items: flex-end;
    label {
      display: flex;
      justify-content: center;
    }
    .rent,
    .button,
    select {
      display: flex;
      align-items: center;
      background-color: transparent;
      outline: none;
      color: #c4c4c4;
      font-size: 14px;
      width: 18vw;
      height: 31px;
      border-radius: 8px;
    }
    // .rent,
    .button,
    select {
      border: 1px solid rgba(233, 100, 67, 1);
    }
  
    .button {
      display: flex;
      justify-content: space-around;
      width: 17vw;
      text-align: center;
    }
    .rent {
      width: auto;
      height: 100%;
      padding-left: 1rem;
    }
    .MuiTypography-gutterBottom {
      margin-bottom: 0.1rem;
    }
  
    .MuiTypography-body1 {
      font-size: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 0;
      letter-spacing: 0;
    }
    .MuiSlider-root {
      color: rgba(233, 100, 67, 1) !important;
    }
  }



}
.filter-container-s {
  display: flex;
  flex-direction: column;
  width: 84vw;
  padding: 1vh;
  .orange-label {
    position: relative;
    width: 129px;
    height: 28px;
    left: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #e96443;
   
  }
  
  .grey-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 77vw;
    height: auto;
    font-size: 12px;
    .choice {
      padding: 10px 10px;
      font-size: 12px;
      color: #232323;
      border-radius: 40px;
      border: 2px solid #c4c4c4;
      margin: 5px;
    }
  }
  input[type=number],
  input[type=date]{
    border-radius: 40px;
    border: 2px solid #e96443;
  }
}

.confirm-btn-container{
  display: flex;
  flex-direction: row;
  width: 84vw;
  margin-top: 1vh;
  justify-content: space-evenly;
  .btn{
    padding: 10px 30px;
    background-color: #e96443;
    color: white;
    border-radius: 15px;
  }
}