.siteHeader {
    position: fixed;
    background: linear-gradient(62.64deg, rgba(144, 78, 149, 0.83) -40.16%, #D05E5A 76.12%, #E96443 121.24%);
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

#address {
    padding-left: 25px;
}