.UserReturnBar {
  width: 100vw;
  height: 38px;
  background: linear-gradient(74.13deg, #904e95 14.64%, #e96443 100.36%);
  .other {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7.5rem;
    height: 100%;
    left: 3vw;
    color: white;
  }
  .ion-page {
    right: 0;
    left: 87vw;
    width: 15vw;
    height: 38px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 10;
    background-color: transparent;
    --ion-background-color: transparent;
    --ion-color-primary: white;
  }
}
