.left_lower {
    background: #f7f7f9;
    border-radius: 3px;
    padding: 10px;
}

.flat_detail {
    background: #fff;
    padding: 1px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.eusbUG {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    order: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 25px 0px;
    justify-content: space-around;
}

.gvxbVn {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.fVreVr {
    color: rgb(108, 108, 108);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

/*  */


/*  */
.furniture {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-evenly;

    .active {
        font-weight: bold;
        background: #ffaf1ee0;
        border: 1px solid #A5A1A1;
        box-sizing: border-box;
        border-radius: 30px;
        color: #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0.5px 0.5px 1px black, 0 0 9px #ffb100, 0 0 2px #944704;
    }
}

.furniture_icon {
    width: 20%;
    border: 1px solid #BAB5B5;
    box-sizing: border-box;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

    color: #BAB5B5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
}

.flat_main_info {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-around;
}

#租 {
    background: #E97F43;
    color: white;
    border-radius: 5px;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: small;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
}

.gross_area,
.usable_area {
    background: #E4E4E4;
    border-radius: 5px;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: small;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
}

.gross_area {
    color: #000000;
}

.usable_area {
    color: #000000;
}


.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 30px;
    object-fit: contain;
}

#right_arrow {
    position: absolute;
    right: -22px;
    bottom: 10px;
    font-size: 20px;
    color: grey;
}

.message_submit {
    display: flex;
    justify-content: space-between;
}

.flat_info_left {
    width: 70%;
    padding-right: 17px;

}

.flat_info_right {
    width: 30%;
}