.site-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9rem;
  margin-top: 0.8rem;
  align-items: center;
  .site-img {
    width: 120px;
    height: 120px;
    background-image: fill;
    border-radius: 30px 0px;
    // border: 1px solid black;

  }
  .description {
    margin-left: 10px;
    .bold-tit{
      color: #232323;
      max-width: 100%;
      max-height: 18px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      text-align: left;
      overflow: hidden;
    }
    .rent-ora{
      color: #e96443;
      font-weight: 600;
      text-align: right;
      .join-btn{
        border: solid 2px #e96443;
        color: #e96443;
        background-color: transparent;
        height: 30px;
        width: 100px;
        border-radius: 15px;
      }
    }
    .grey-des{
      color: #c4c4c4;
      font-size: 13px;
      text-align: left;
      margin-bottom: 0.1rem;
      .vertical-ora{
        color: #e96443;
      }
    }
    .padding{
      margin: 0.4rem 0;
      // text-align: left;
    }
  }
}
