.left_lower {
    background: #f7f7f9;
    border-radius: 3px;
    padding: 10px;
}

.flat_detail {
    background: #fff;
    padding: 1px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}


h4 {
    color: #e96443
}