.gatheringDateTime {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #9597A1;
    margin: 0;
    margin-left: 18px;
}

ion-avatar {
    width: 48px;
    height: 48px;
}

.gatheringHost {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000000;
    margin: 0;
    margin-right: 48px;
}

.gatheringTitle {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000000;
    margin: 0;
    margin-left: 18px;
}