.user-card-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    // width: 84vw;
    // height: 12vh;
    // left: 8vw;
    top: 190px;
    .userIcon {
        width: 26vw;
        height: 26vw;
        border-radius: 13vw;
        // border: 1px solid black;
    }
    .profile-detail {
        margin-left: 10px;
        width: 56vw;
        .userName {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #232323;
        }
        .black-des {
            font-size: 12px;
            line-height: 11px;
            display: flex;
            align-items: center;
            color: #232323;
            .vertical-ora {
                color: #e96443;
            }
        }
        .grey-des {
            font-size: 12px;
            line-height: 14px;
            color: #aba5a5;
        }
        .userName,
        .black-des,
        .grey-des{
          margin-bottom: 10px;
        }
    }
}
