.user-container {
  position: absolute;
  width: 98vw;
  margin-left: 1vw;
  height: 90%;
  overflow: auto;
}

.profile {
  position: absolute;
  width: 100%;
  height: 155px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #fdfafa 0%, rgba(186, 181, 181, 0) 100%);
  
  .user-name {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    // width: 80px;
    height: 27.42px;
    left: 148px;
    top: 2.39px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    .purple-text {
      // width: fit-content;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 0 8px 0 8px;
      color: #ffffff;
      border-radius: 15px;
      height: 20px;
      margin-left: 1rem;
      background-color: rgba(144, 78, 149, 1);
    }
  }
  .round-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 21px;
    top: 13px;
    border-radius: 40px;
    overflow: hidden;
  }
  .requirement {
    display: flex;
    flex-direction: column;
    position: absolute;
    // width: 140px;
    height: 97px;
    right: 1rem;
    top: 35px;
    justify-content: space-between;
    align-items: flex-end;
    .purple-text {
      // width: fit-content;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 0 8px 0 8px;
      color: #ffffff;
      border-radius: 15px;
      height: 20px;
      background-color: rgba(144, 78, 149, 1);
    }
  }
  .detail-description {
    position: absolute;
    height: 93px;
    left: 113px;
    top: 35px;
    .black-text {
      font-size: 12px;
      color: #232323;
      margin-bottom: 5px;
    }
    .tag {
      font-size: 12px;
      color: #d27c4a;
      margin-bottom: 2px;
    }
  }
  .like-dislike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 51px;
    height: 46px;
    left: 35px;
    top: 99px;
    .like-container,
    .dislike-container {
      display: flex;
      flex-direction: column;
      width: 20px;
      height: 46px;
      align-items: center;
    }
    .number {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      font-weight: bold;
    }
  }
  .round-icon {
    border: solid 1px black;
  }
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
  top: 150px;
  width: auto;
  height: 25px;
  .message-btn {
    background: linear-gradient(74.13deg, #904e95 14.64%, #e96443 100.36%);
    width: 90px;
    height: 25px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding-left: 7%;
    color: #ffffff;
  }
}
.about,
.activity,
.site,
.suggested-roommate{
  position: absolute;
  width: 90%;
  left: 5%;
  border-radius: 30px;
  background: rgba(233, 100, 67, 0.04);
}




.about {
  height: 91px;
  top: 200px;
  .quote-logo {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 3px;
    // color:  white;
    // background: linear-gradient(90deg, #904E95 0%, #E96443 100%);
    // background-color: white;
    // opacity: 1;
    // z-index:99;
  }
  .title {
    position: absolute;
    width: 100px;
    height: 25px;
    left: 10px;
    top: 10px;
  }
  .about-detail {
    position: absolute;
    width: 75%;
    height: 37px;
    left: 51.14px;
    top: 40px;
    font-size: 12px;
    line-height: 15px;
    color: #aba5a5;
  }
}
.activity {
  height: 125px;
  top: 319px;
  .title {
    position: absolute;
    width: 88.14px;
    height: 25px;
    left: 10px;
    top: 10px;
  }
  .activity-detail {
    position: absolute;
    width: 50%;
    height: 50px;
    left: 25%;
    top: 50px;
  }
  .input-box {
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #232323;
    margin-bottom: 10px;
  }
  .heading {
    font-weight: bold;
  }
}
.site {
  height: 166px;
  top: 472px;
 
  .title {
    position: absolute;
    width: 100px;
    height: 25px;
    left: 10px;
    top: 10px;
  }
  .site-detail {
    position: absolute;
    width: 85%;
    height: 112px;
    left: 25px;
    top: 41px;
    .site-pic {
      width: 100%;
      height: 59px;
    }
    .site-description {
      height: 58px;
      width: 100%;
      .heading-black {
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #232323;
      }
      .content-grey {
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #c4c4c4;
        margin-top: 5px;
        .separator {
          color: #e96443;
        }
      }
      .rent {
        position: absolute;
        width: 70px;
        height: 25px;
        bottom: 0px;
        right: 0rem;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #e96443;
      }
    }
  }
}
.suggested-roommate {
  height: 202px;
  top: 650px;
  .title {
    position: absolute;
    width: 88.14px;
    height: 25px;
    left: 10px;
    top: 10px;
  }
  .map {
    position: absolute;
    width: 100%;
    height: 167px;
    top: 45px;
    border: 1px solid #e96443;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #e96443;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}


